.contacts__name {
  text-align: center;
  margin-bottom: 5px;
}
.contacts__number {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.contacts__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
